<?xml version="1.0"?>
<config>
    <modules>
        <PontoCommerce_BannerImages>
            <version>0.0.1</version>
        </PontoCommerce_BannerImages>
    </modules>
    <global>
        <blocks>
            <pontocommerce_bannerimages>
                <class>PontoCommerce_BannerImages_Block</class>
            </pontocommerce_bannerimages>
            <pontocommerce_bannerimages_adminhtml>
                <class>PontoCommerce_BannerImages_Block_Adminhtml</class>
            </pontocommerce_bannerimages_adminhtml>
        </blocks>
        <models>
            <pontocommerce_bannerimages>
                <class>PontoCommerce_BannerImages_Model</class>
            </pontocommerce_bannerimages>
        </models>
        <helpers>
            <pontocommerce_bannerimages>
                <class>PontoCommerce_BannerImages_Helper</class>
            </pontocommerce_bannerimages>
        </helpers>
        <!--
        <resources>
            <pontocommerce_bannerimages_setup>
                <setup>
                    <module>PontoCommerce_BannerImages</module>
                </setup>
            </pontocommerce_bannerimages_setup>
        </resources>
        -->
        <!--
        <events>
            <catalog_product_load_after>
                <observers>
                    <pontocommerce_bannerimages>
                        <class>pontocommerce_bannerimages/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </pontocommerce_bannerimages>
                </observers>
            </catalog_product_load_after>
        </events>
        -->
    </global>
    <frontend>
        <!--
        <routers>
           <pontocommerce_bannerimages>
               <use>standard</use>
               <args>
                   <module>PontoCommerce_BannerImages</module>
                   <frontName>mgt</frontName>
               </args>
           </pontocommerce_bannerimages>
        </routers>
        -->
        <layout>
            <updates>
                <pontocommerce_bannerimages>
                    <file>pontocommerce_bannerimages.xml</file>
                </pontocommerce_bannerimages>
            </updates>
        </layout>
    </frontend>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <PontoCommerce_BannerImages before="Mage_Adminhtml">PontoCommerce_BannerImages_Adminhtml</PontoCommerce_BannerImages>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
    <!--
    <crontab>
        <jobs>
            <pontocommerce_bannerimages_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pontocommerce_bannerimages/observer::methodName</model>
                </run>
            </pontocommerce_bannerimages_cron>
        </jobs> 
    </crontab>
    -->
</config>
